{% extends "foundation.html" %}
{% block title %} About  •  {{ super() }} {% endblock %}
{% block body %}
<div class="main">
<div class="row about-page">
	<div class="large-12 columns about-text">
	<p class="about-text-p"><em>Who Tweeted It</em> was created for Columbia's DevFest 2014. We used Foundation to make it look nice and Twitter's API to make it work (and to make sure it's different every time!) We also used the fonts <a href="http://www.google.com/fonts/specimen/Open+Sans">Open Sans</a> and <a href="http://www.google.com/fonts/specimen/Lily+Script+One">Lily Script One.</a></p>
	<p>Visionaries:</p>
	<div class="visionaries">
		<div class="visionary"><a href="http://www.danrs.ch">Dan Schlosser</a> is a sophomore at Columbia.</div>
		<div class="visionary"><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Ben Edelstein</a> is a sophomore at Columbia.</div>
		<div class="visionary"><a href="http://www.soundcloud.com/evantarrh">Evan Tarrh</a> is a freshman at Columbia.</div>
	</ul>
	</div>
	<div class="go-home"><a href=".." class="button">Home</a>
	</div>
</div>
</div>
<footer>
    <span class="easy-mode-link">
      Thanks for visiting!<a href="/easymode">Here's a reward for checking us out.</a>
    </span>
  </footer>
</div>
{% endblock %}