{% extends "foundation.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block body %}
<div class="main">
<div class="row about-page">
	<div class="large-12 columns">
	<p>Who Tweeted It is an app created for Columbia's DevFest 2014. We used Foundation and Twitter's API to make it look nice and work well (and to make sure it's different every time!)</p>
	<p>Visionaries:</p>
	<ul class="visionaries">
		<li><a href="http://www.danrs.ch">Dan Schlosser</a> is a sophomore at Columbia.</li>
		<li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Ben Edelstein</a> is a sophomore at Columbia.</li>
		<li><a href="http://www.soundcloud.com/evantarrh">Evan Tarrh</a> is a freshman at Columbia.</li>
	</ul>
	<div class="go-home"><a href=".." class="button">Home</a></div>
</div>
</div>
</div>
{% endblock %}