{% extends "foundation.html" %}
{% block title %} Easy mode!  •  {{ super() }} {% endblock %}
{% block body %}
<script type="text/javascript">
  var correctUser = "{{data.correctUser}}";
  var best = {{best}};
  var score = {{score}};
</script>

<div class="easy-main">
  <div class="opaque">
  <div class="working_title">
    <p class="main-title">Who tweeted it?</p>
  </div>
</nav>

 <div class="row"><div class="panel tweet" style="
      margin-top: 10px; ">
    <p>{{data.tweet}}</p>
  </div>

  <div class="buffer-v3"></div>

  <div class="row">
    {% for candidate in data.candidates %}
      {% if loop.index <= 2 %}
      <div class="medium-5
      {% if loop.index % 2 == 1 %} medium-offset-1 {% endif %}
      columns">
        <a class="option" href="#" data-candidate-name="{{candidate.display_name}}"><div class="panel candidate">
             <img src="{{candidate.image}}">
            <span class="candidate-name">{{candidate.display_name}}</span>
         </div>
        </a>
      </div>
      {% endif %}
    {% endfor %}
    <div class="medium-1 columns"></div>
  </div>

  <div class="row">
    {% for candidate in data.candidates %}
      {% if loop.index > 2 %}
      <div class="medium-5
      {% if loop.index % 2 == 1 %} medium-offset-1 {% endif %}
      columns">
        <a class="option" href="#" data-candidate-name="{{candidate.display_name}}"><div class="panel candidate">
            <img src="{{candidate.image}}">
            <span class="candidate-name">{{candidate.display_name}}</span>
        </div>
        </a>
      </div>
      {% endif %}
    {% endfor %}
    <div class="medium-1 columns"></div>
  </div>

  <div class="buffer"></div>

  <div class="row"><div class="row-score">
        <span class="current medium-5">Current streak: {{score}}</span>
  </div>

  <div class="buffer-v2"></div>

  <div class="medium-8 medium-centered columns centered facebook-poster">
        <a href="/quiz" onclick='sharefacebook()' class="button small">Had enough of these shenanigans?</a>
      </div>

</div>
</div>
</div>
{% endblock %}