{% extends "foundation.html" %}
{% block title %} {{ super() }} {% endblock %}
{% block body %}

<div class="row">
	<div class="medium-8 medium-centered centered columns">
		<p class="generic-title">Leaderboard</p>
	</div>
</div>
<div class="row">
	<div class="large-12 columns">
		<div class="table-wrapper">
			<table class="scores">
				<thead>
					<th>#</th>
					<th>Name</th>
					<th>Score</th>
				</thead>
				<tbody>
				{% for person in people %}
					<tr>
						<td>{{loop.index}}</td>
						<td>{{person.name}}</td>
						<td>{{person.score}}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
 <div class="row">
      <div class="medium-8 medium-centered columns centered">
        <a href="/" class="button">Play!</a>
      </div>
    </div>

{% endblock %}