{% extends "foundation.html" %}
{% block title %} Dang. | {{ super() }} {% endblock %}
{% block body %}
<script type="text/javascript">
  var score = {{score}};

</script>
<div class="main">
  <div class="row submit-page">
   <div class="medium-10 medium-centered columns">
     <p class="generic-title">Aw, nuts!</p>
     <p class="achieve">You achieved a streak of {{score}}.</p>
     <form>
      <div class="row collapse">
        <div class="medium-6 columns medium-offset-2">
          <input type="text" placeholder="Enter your name for the leaderboard!" name="user_name" id="user_name" required/>
        </div>
        <div class="medium-2 columns end">
          <button href="/" class="post postfix" type="submit">Submit</button>
        </div>
      </div>
    </form>
    <!--****SHARE ON FB????*****-->
    <div class="row">
      <div class="medium-8 medium-centered columns centered">
        <a href="/" class="button">Try again?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}